<!-- Main Content Area -->
<main class="py-8 bg-[#FFFBF5]">
    <div class="container max-w-full lg:max-w-[80rem] mx-auto">
        <!-- Latest Release Title -->
        <h2 class="text-3xl font-bold text-[#333] mb-8">Latest Release</h2>
        
        <div id="post-container" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            {% include 'include/post_partial.html' %}
        </div>

        <!-- Load More Button -->
        <div id="load-more-container" class="flex justify-center mt-8">
            {% if posts.has_next %}
                <button id="load-more" data-next-page="{{ posts.next_page_number }}" class="py-2 px-4 text-[#333] bg-white border border-[#dcdcdc] rounded-md hover:bg-[#F8F4E1]">Load More</button>
            {% endif %}
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#load-more').click(function() {
            var nextPage = $(this).data('next-page');
            $.ajax({
                url: "?page=" + nextPage,
                type: 'get',
                beforeSend: function() {
                    $('#load-more').text('Loading...');
                },
                success: function(response) {
                    $('#post-container').append(response.posts_html);
                    if (!response.has_next) {
                        $('#load-more-container').remove();
                    } else {
                        $('#load-more').data('next-page', nextPage + 1).text('Load More');
                    }
                }
            });
        });
    });
</script>