{% load static tailwind_tags %}
<html>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta property="og:site_name" content="InsightfulBytes">

    {% if post %}
        <!-- SEO Meta Tags -->
        <meta name="description" content="{{ post.meta_description }}">
        <meta name="keywords" content="{{ post.meta_keywords }}">
        <meta name="author" content="{{ post.author.name }}">
        
        <!-- Open Graph Meta Tags for Social Media -->
        <meta property="og:title" content="{{ post.og_title|default:post.title }}">
        <meta property="og:description" content="{{ post.og_description|default:post.meta_description }}">
        {% if post.og_image %}
            <meta property="og:image" content="{{ post.og_image.url }}">
        {% else %}
            <meta property="og-image" content="{{ post.featured_image.url }}">
        {% endif %}
        <meta property="og:type" content="article">
        <meta property="og:url" content="{{ request.build_absolute_uri }}">
    {% endif %}

    {% tailwind_css %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #F8F8F8;
            color: #333;
        }

        .menu-icon {
            font-size: 30px;
            cursor: pointer;
        }

        @media (min-width: 768px) {
            .menu-icon {
                display: none;
            }
        }

        /* Neumorphic Style */
        .shadow-neumorphic {
            box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2), 
                        -7px -7px 15px rgba(255, 255, 255, 0.7);
        }

        .rounded-lg {
            border-radius: 1rem; /* Adjust to your preference */
        }

        .bg-[#FFFBF5] {
            background: #FFFBF5;
        }

        .transition-transform {
            transition: transform 0.2s ease-in-out;
        }

        .transform {
            transform: scale(1);
        }

        .hover\:scale-\[1.02\]:hover {
            transform: scale(1.02);
        }
    </style>

    {% block extra_css %}{% endblock %}
</head>

<body class="min-h-screen flex flex-col bg-[#F8F8F8] text-[#333]">
    <header class="fixed top-0 left-0 w-full shadow-lg bg-white z-50">
        <nav class="container max-w-full lg:max-w-[80rem] mx-auto flex justify-between items-center py-4 px-4">
            <div class="w-[130px] md:w-[200px] flex items-center">
                <a href="{% url 'index' %}" class="text-2xl font-bold text-[#333]">
                    InsightfulBytes
                </a>
            </div>            

            <div class="flex items-center gap-3">
                <div class="navLinks duration-500 absolute md:static md:w-auto w-full md:h-auto h-[85vh] bg-white flex md:items-center gap-[1.5vw] top-[100%] left-[-100%] px-5 md:py-0 py-5">
                    <ul class="flex md:flex-row flex-col md:items-center md:gap-[1vw]">
                        {% for category in active_categories %}
                            <li class="relative px-4 py-5 hover:bg-[#F1F1F1] text-[#333] rounded-lg w-full md:w-auto">
                                <a href="{% url 'categories' category.id %}">{{ category }}</a>
                            </li>
                        {% endfor %}
                        <li class="hidden md:inline-block text-[#999] px-2">|</li>
                        <li class="relative px-4 py-5 hover:bg-[#FFD700] text-[#333] rounded-lg w-full md:w-auto font-semibold">
                            <a href="{% url 'analytics' %}">📊 Analytics</a>
                        </li>
                        <li class="relative px-4 py-5 hover:bg-[#ADD8E6] text-[#333] rounded-lg w-full md:w-auto font-semibold">
                            <a href="{% url 'about_me' %}">👤 About me</a>
                        </li>
                        {% if user.is_authenticated and user.is_superuser %}
                            <li class="relative px-4 py-5 hover:bg-[#F1F1F1] text-[#333] rounded-lg w-full md:w-auto">
                                <a href="{% url 'backoffice:index' %}">Backoffice</a>
                            </li>
                        {% endif %}
                    </ul>                                                                     
                </div>
                <div class="flex items-center gap-2">
                    <i class="fa-solid fa-bars menu-icon" onclick="onMenuToggle(this)"></i>
                </div> 
            </div>
        </nav>
    </header>

    <!-- Floating Message Popup -->
    <div id="message-popup" class="fixed top-4 right-4 z-50 hidden max-w-sm w-full">
        {% if messages %}
            {% for message in messages %}
                <div class="p-4 mb-4 rounded-md text-white shadow-lg relative
                    {% if message.tags == 'success' %}
                        bg-green-500
                    {% elif message.tags == 'error' %}
                        bg-red-500
                    {% elif message.tags == 'warning' %}
                        bg-yellow-500
                    {% elif message.tags == 'info' %}
                        bg-blue-500
                    {% else %}
                        bg-gray-500
                    {% endif %}">
                    <p>{{ message }}</p>
                    <button onclick="this.parentElement.style.display='none';" class="absolute top-2 right-2 text-white focus:outline-none">
                        <i class="fa-solid fa-times"></i>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="flex-grow">
        {% block content %}{% endblock content %}
    </div>

    <footer class="bg-[#F8F8F8] text-[#333] py-8">
        <div class="container max-w-full lg:max-w-[1080px] mx-auto flex flex-col md:flex-row justify-between items-center space-y-6 md:space-y-0">
            <!-- Footer Navigation -->
            <div class="flex flex-col md:flex-row md:space-x-8 text-center md:text-left">
                <a href="{% url 'index' %}" class="hover:text-[#AF8F6F] transition-colors duration-300">Home</a>
                <a href="{% url 'about_me' %}" class="hover:text-[#AF8F6F] transition-colors duration-300">About Me</a>
                <a href="{% url 'about_me' %}#social-media" class="hover:text-[#AF8F6F] transition-colors duration-300">Contact</a>
            </div>
            
            <!-- Social Media Links -->
            <div class="flex space-x-4">
                <a href="https://github.com/andifathulms" target="_blank" rel="noopener noreferrer" class="hover:text-[#AF8F6F] transition-colors duration-300">
                    <i class="fab fa-github text-xl"></i>
                </a>
                {% comment %} <a href="#" class="hover:text-[#AF8F6F] transition-colors duration-300">
                    <i class="fab fa-twitter text-xl"></i>
                </a> {% endcomment %}
                <a href="https://www.linkedin.com/in/andifathulmukminin/" target="_blank" rel="noopener noreferrer" class="hover:text-[#AF8F6F] transition-colors duration-300">
                    <i class="fab fa-linkedin-in text-xl"></i>
                </a>
                <a href="https://www.instagram.com/andifathulms?igsh=bTU2b2Z5c2FuYjR1" target="_blank" rel="noopener noreferrer" class="hover:text-[#AF8F6F] transition-colors duration-300">
                    <i class="fab fa-instagram text-xl"></i>
                </a>
            </div>
    
            <!-- Copyright Information -->
            <div class="text-center md:text-right text-sm">
                <p>&copy; 2024 InsightfulBytes. All rights reserved.</p>
            </div>
        </div>
    </footer>    

    <script>
        function onMenuToggle(e) {
            const navlinks = document.querySelector(".navLinks");
            e.classList.toggle("fa-bars");
            e.classList.toggle("fa-times"); // Toggle between bars and times icon
            navlinks.classList.toggle("left-[-100%]");
            navlinks.classList.toggle("left-0");
        }

        // Display the message popup if there are messages
        document.addEventListener('DOMContentLoaded', function () {
            const messages = document.querySelector('#message-popup');
            if (messages.children.length > 0) {
                messages.classList.remove('hidden');
            }
        });
    </script>
    {% block extra_js %}{% endblock %}      
</body>
</html>
